<body class="header-fixed main home1 counter-scroll btn-effect1">
        <!-- preloade -->
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
          </div>
        <!-- /preload -->
    <div id="wrapper">
        <!-- Header -->
    <header id="header_main" class="header">
        <div class="container">
            <div id="site-header-inner">
                <div class="header__logo">
                    <a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a>
                </div>
                <a href="#" class="header-contact">
                    <div class="icon">
                        <span class="icon-Icon"></span>
                    </div>
                    <div class="desc">
                        <span>Phone:</span>  +012 (345) 6789
                    </div>
                </a>
                <nav id="main-nav" class="main-nav">
                    <ul id="menu-primary-menu" class="menu">
                        <li class="menu-item menu-item-has-children current-menu-item">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item current-item"><a href="index.html">Home 1</a></li>
                                <li class="menu-item"><a href="home-2.html">Home 2</a></li>
                                <li class="menu-item"><a href="home-3.html">Home 3</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">About</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="about.html">About</a></li>
                                <li class="menu-item"><a href="team.html">OurTeam</a></li>
                                <li class="menu-item"><a href="team-details.html">Team Details</a></li>
                                <li class="menu-item"><a href="service.html">Service</a></li>
                                <li class="menu-item"><a href="service-details.html">Service Details</a></li>
                                <li class="menu-item"><a href="history.html">history</a></li>
                                <li class="menu-item"><a href="pricing.html">Pricing</a></li>
                                <li class="menu-item"><a href="faq.html">FAQ</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Portfolio</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="porfolio.html">porfolio</a></li>
                                <li class="menu-item"><a href="porfolio-details.html">porfolio details</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Product</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="product.html">Product</a></li>
                                <li class="menu-item"><a href="product-details.html">Product Details</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">News</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="blog-standard.html">blog standard</a></li>
                                <li class="menu-item"><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="contact.html">contact Us</a>
                        </li>
                    </ul>
                </nav><!-- /#main-nav -->
                <div class="header-right">
                    <div class="header-search flat-show-search" id="s1">
                        <a href="#" class="show-search header-search-trigger">
                            <span class="icon-Vector"></span>
                        </a>
                        <div class="top-search">
                            <form action="#" method="get" role="search" class="search-form">
                                <input type="search" id="s" class="search-field" placeholder="Search..." value="" name="s" title="Search for" required="">
                                <button class="search search-submit" type="submit" title="Search">
                                    <i class="icon-Vector"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <a class="tf-button" href="service.html">                          
                        <span>Get Solution</span>
                    </a>
                </div>
                <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
            </div>
        </div>
    </header>
    <!-- end Header -->